@-moz-document domain("roblox.com") {
/* Roblox Catppuccin Mocha 2.0.2 - Stylus by @qzgh (larabear) */

/* Importing Fonts */

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */

:root {
	--font-regular: Figtree;
	--font-medium:  Figtree;
	--font-small:   Figtree;

	--c_text-dark:    #cdd6f4;
	--c_subtext-dark: #a6adc8;
	--c_bg-dark:      #1e1e2e;
	--c_hd-dark:      #181825;
    --c_sf0-dark:     #282936;
    --c_sf1-dark:     #45475a;

	--c_profile-img-bg: #282936;
}

/* Fonts */

body {
	font-family: var(--font-regular);
}
.builder-font.font-header-2, .builder-font input, .text-body-medium {
	font-family: var(--font-medium) !important;
}
.builder-font button, .builder-font.font-caption-header, .builder-font.small.font-caption-header, span.text-label.font-caption-header.ng-binding, a.text-link.font-caption-header.ng-binding.ng-scope {
	font-family: var(--font-small) !important;
}

/* Text Colors */

.dark-theme, pre.content-default.text-body-medium.text-overflow-2-lines.description-content {
	color: var(--c_text-dark) !important;
}
button.text-body-medium.edit-bio-btn.content-default, button.text-body-medium.more-btn.content-default {
	color: var(--c_subtext-dark) !important;
}

/* Text Decorations */

button.text-body-medium.edit-bio-btn.content-default {
    text-decoration: none;
}

/* Background Colors */ 

.dark-theme, div.navbar-left.navbar-search.col-xs-5.col-sm-6.col-md-2.col-lg-3.shown, section.search-landing-container, div.scroller.prev, div.scroller.next, div.spacer, div.profile-avatar-left.profile-avatar-gradient, div#radix-21, .dark-theme .section-content-off {
	background-color: var(--c_bg-dark) !important;
}

footer, div#header.navbar-fixed-top.rbx-header, div.chat-windows-header.chat-header, div.padding-small, div.notification-stream-header.ng-scope, div.simplebar-content-wrapper, button.foundation-web-close-affordance {
	background-color: var(--c_hd-dark) !important;
}

div#chat-main.chat-main, .notification-stream-list, div.notification-stream-loading, div.sendr-notification-background.sendr-notification-visible, div.sendr-notification-background.sendr-notification-dismissed, .dropdown-menu, div#notification-stream-body, div.add-friends-icon-container::before, a.rbx-tab-heading, li.stack-row.badge-row, div.card-item {
    background-color: var(--c_sf0-dark) !important;
}

div.border-bottom.chat-search {
    background-color: var(--c_sf1-dark) !important;
}

.thumbnail-2d-container img, .dark-theme.avatar.avatar-card-image, span.thumbnail-2d-container.avatar-card-image, input#navbar-search-input.form-control.input-field.new-input-field, input.input-field, span.thumbnail-2d-container {
    background-color: #00000000 !important;
}

.thumbnail-2d-container img, div.add-friends-icon-container::before {
    background-color: var(--c_profile-img-bg);
}

div.cover-blur-overlay, div.cover-gradient-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0), var(--c_bg-dark)) !important;
}

/* Corners */

div.padding-small {
	border-radius: 8px !important;
}

div.border-bottom.chat-search, input.input-field.chat-search-input.font-caption-body.ng-pristine.ng-valid.ng-empty.ng-touched {
	border-radius: 0px !important;
}

/* Outlines */

div#header.navbar-fixed-top.rbx-header, input#navbar-search-input.form-control.input-field.new-input-field, div.foundation-web-menu.bg-surface-100.stroke-standard.stroke-default.shadow-transient-high.radius-large, div#radix-21 {
    border: none !important;
}

/* Shadows */

div#chat-main.chat-main, div.foundation-web-menu.bg-surface-100.stroke-standard.stroke-default.shadow-transient-high.radius-large {
	box-shadow: 0px 0px !important;
}

/* Margins */

button.text-body-medium.edit-bio-btn.content-default, button.text-body-medium.more-btn.content-default, div.foundation-web-menu.bg-surface-100.stroke-standard.stroke-default.shadow-transient-high.radius-large {
    margin-top: 0.3rem;
}

/* Extras */

div#mCSB_22_scrollbar_vertical, a#upgrade-now-button, a#nav-giftcards, a#nav-blog, button#nav-shop, a.font-header-2.nav-menu-title.text-header.robux-menu-btn {
    visibility: hidden;
}

div.button-row-container {
    opacity: 0.6;
    margin-top: 0.8rem !important;
    block-size: 24px !important;
}
}
